/*styling the page*/
#content {
    padding-top:100px;
    min-height: calc(100% - 200px);
    width: 100%;
    background-color: #d3dfde;
}

#title{
    position: relative;
    margin:0;
    padding-top:10px;
    width: 100%;
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
}

#content #sub-title{
    font-size: 24px;
    text-align: center;
    font-weight: 100;
}

section{
    width: 100%;
    padding: 0;
    list-style: none;
    font-size: 0;
}

/*add background image for first section*/
section#first{
    background-image: url(../../Image&assets/service/web\ development.jpg);
}

/*add background image for second section*/
section#Second{
    background-image: url(../../Image&assets/service/it\ consulting.jpg);
    background-repeat: round no-repeat;
}

/*add background image for third section*/
section#Third{
    background-image: url(../../Image&assets/service/Design\ Solution.jpg);
    background-repeat: round no-repeat;
}

/*split content into 2 part and style both parts*/
#content #left, 
#content #right{
    display: inline-block;
    width: 50%;
    font-size: 16px;
    vertical-align: top;
    background-color: #65C7C6;
}

#content #right{
    margin-left: 50%;
}

#content #left #title,
#content #right #title{
    width:min(625px, 100%)!important;
    font-size: min(3vw,36px);
    color:#fff;
    width: 100%;
    text-align: center;
    margin:0;
    float: right;
}

#content #right #title{
    float:left;
}

#content #left p,
#content #right p{
    width:min(625px, calc(100% - 20px));
    font-size: min(1.5vw,18px);
    padding:10px;
    color:#fff;
    text-align: left;
    margin:0;
    float: right;
}

#content #right p{
    float:left;
}

#content #left button,
#content #right button{
    color:#fff;
    background-color: #65C7C6;
    border: solid #fff 1px;
    margin: 5px;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#content #left button{
    float: right;
    margin-right:12px
}

#content #right button{
    float: left;
    margin-left:12px
}

#content #left button:hover,
#content #right button:hover{
    color:#65C7C6;
    background-color: #fff;
}


@media only screen and (max-width: 500px){
    
  }